
.sidebar-paper {
  background-color:transparent; /* Light theme background color */
  width: 250px; /* Width of the sidebar */
  position: fixed; /* Make sidebar sticky */
  height: 100%; /* Full height */
  border: none !important;

}

.sidebar-list { 
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.2rem;
  overflow: hidden;
}

.sidebar-list-item {
  padding: 15px 20px;
  transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effects */
  color: gray !important;   /* Initial text color */
}

.sidebar-list-item:hover {
  /* background-color: hwb(209 4% 9% / 0.929); Hover background color */
  border-radius: 10px !important;
  color: gray !important;   /* Initial text color */

}

.sidebar-list-item a {
  text-decoration: none; /* Remove underline from links */
  color: inherit; /* Ensure link color matches text color */
}

.sidebar-list-item a:hover {
   color: gray ;   /* Initial text color */
 /* Link text color on hover */
}

.sidebar-list-item-icon {
  color: inherit; /* Ensure icon color matches the text color */
}

.sidebar-list-item:hover .sidebar-list-item-icon {
  color:rgba(74, 74, 228, 0.724); /* Hover icon color */
}
.sidebar-list-item.active-link { 
  transition: all 0.2s !important;
  background-color: rgb(255, 255, 255) !important;
  color: black !important;
  border-radius: 10px !important;
  box-shadow: 0 4px 6px rgba(43, 42, 42, 0.112) !important;
}